    <!-- End Navigation Bar-->
    <section class="p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder blog-fixed-image">
              <img src="images/bg/18.jpg" alt="" class="bg-img">
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
            <div class="articles-list">
              <div class="post-listing"><span class="upper">28 September 2015<span class="dot"></span><a href="#" class="post-tag">Startups</a>
                </span>
                <h2 class="serif"><a href="#">Checklists for Startups</a></h2>
                <p class="serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.</p>
                <p><a href="#" class="upper small-link">Read More</a>
                </p>
              </div>
              <!-- end of article   // end of article-->
              <div class="post-listing"><span class="upper">28 September 2015<span class="dot"></span><a href="#" class="post-tag">Entrepreneurship</a>
                </span>
                <h2 class="serif"><a href="#">Never Tell People What You Do</a></h2>
                <p class="serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.</p>
                <p><a href="#" class="upper small-link">Read More</a>
                </p>
              </div>
              <!-- end of article   // end of article-->
              <div class="post-listing"><span class="upper">28 September 2015<span class="dot"></span><a href="#" class="post-tag">Startups</a>
                </span>
                <h2 class="serif"><a href="#">Uber launches in Las Vegas</a></h2>
                <p class="serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.</p>
                <p><a href="#" class="upper small-link">Read More</a>
                </p>
              </div>
              <!-- end of article   // end of article-->
              <div class="post-listing"><span class="upper">28 September 2015<span class="dot"></span><a href="#" class="post-tag">Life</a>
                </span>
                <h2 class="serif"><a href="#">The Death of Thought</a></h2>
                <p class="serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.</p>
                <p><a href="#" class="upper small-link">Read More</a>
                </p>
              </div>
              <!-- end of article   // end of article-->
              <div class="post-listing"><span class="upper">28 September 2015<span class="dot"></span><a href="#" class="post-tag">Tech</a>
                </span>
                <h2 class="serif"><a href="#">Fun With Product Hunt</a></h2>
                <p class="serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.</p>
                <p><a href="#" class="upper small-link">Read More</a>
                </p>
              </div>
              <!-- end of article   // end of article-->
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>